<mat-toolbar color="primary">
<button mat-button routerLink="/libros1"> <mat-icon>arrow_back</mat-icon>Seguir Comprando</button>
<span class="spacer"></span>
<span>Carrito</span>

<button mat-button [matMenuTriggerFor]="mas">Más</button>
<mat-menu #mas="matMenu">
    <button mat-menu-item routerLink="/categorias">Categorías</button>
    <button mat-menu-item routerLink="/autores">Autores</button>
    <button mat-menu-item routerLink="/clientes">Clientes</button>
    <button mat-menu-item routerLink="/libros">Libros</button>

</mat-menu>


</mat-toolbar>



<ng-template #vacio>
    <div class="empty">
        <p>Tu carrito está vacío.</p>
        <a mat-stroked-button color="primary" routerLink="/libros"> <mat-icon> shopping_bag </mat-icon>Ver Libros</a>
    </div>

</ng-template>
